body{
    background-color: blanchedalmond;
}
aside{
    background-color: rgb(240, 98, 98);
    margin: 0px;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 

}
ul li a{
    text-decoration: none;
}

ul li{
    list-style: none;
    padding: 20px;
    font-style: ;
    

}
ul li{
    hov
}