.a1{
    background-color: tomato;
    height: 200px;
    width: 200px;
    display: inline-block;
}
.a2{
    background-color: #2980b9;
    height: 200px;
    width: 200px;
    display: inline-block;
}
.a3{
    background-color:#9b59b6 ;
    height: 200px;
    width: 200px;
    display: inline-block
    position
}
.a4{
    background-color: #2ecc71;
    height: 200px;
    width: 200px;
    display: inline-block;
}